<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean id="autoProxyCreator" class="com.minis.aop.ProxyCreator" >
    </bean>

    <bean id="beforeAdvice" class="com.minis.test.service.MyBeforeAdvice" />

    <bean id="advisor" class="com.minis.aop.NameMatchMethodPointcutAdvisor">
        <property type="com.minis.aop.Advice" name="advice" ref="beforeAdvice"/>
        <property type="String" name="mappedName" value="does*"/>
    </bean>

    <bean id="myInterceptor" class="com.minis.test.service.TracingInterceptor" />

    <bean id="realaction" class="com.minis.test.service.Action1" />

    <bean id="baseBaseService" class="com.minis.test.BaseBaseService">
        <property type="com.minis.test.AServiceImpl" name="as" ref="aService" />
    </bean>

    <bean id="aService" class="com.minis.test.AServiceImpl">
        <constructor-arg type="String" name="name" value="abc"/>
        <constructor-arg type="int" name="level" value="3"/>
        <property type="String" name="property1" value="Someone says"/>
        <property type="String" name="property2" value="Hello World!"/>
    </bean>

    <bean id="baseService" class="com.minis.test.BaseService">
    </bean>

    <!-- 使用 MySQL 的连接池数据源（修正包名为 com.minis.jdbc.pool） -->
    <bean id="dataSource" class="com.minis.jdbc.pool.PooledDataSource">
        <property type="String" name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property type="String" name="url" value="jdbc:mysql://localhost:3306/demo?useSSL=false&amp;serverTimezone=UTC&amp;characterEncoding=UTF-8"/>
        <property type="String" name="username" value="root"/>
        <property type="String" name="password" value="pxl123"/>
        <!-- 可选：初始化连接数 -->
        <!-- <property type="int" name="initialSize" value="2"/> -->
    </bean>

    <bean id="webBindingInitializer" class="com.minis.test.DateInitializer">
    </bean>

    <bean id="jdbcTemplate" class="com.minis.jdbc.core.JdbcTemplate" >
        <property type="javax.sql.DataSource" name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 新增：SqlSessionFactory 与 UserService wiring -->
    <bean id="sqlSessionFactory" class="com.minis.batis.DefaultSqlSessionFactory">
        <property type="com.minis.jdbc.core.JdbcTemplate" name="jdbcTemplate" ref="jdbcTemplate"/>
        <property type="String" name="mapperLocations" value="mapper"/>
    </bean>

    <bean id="userService" class="com.minis.test.service.UserService">
        <property type="com.minis.batis.SqlSessionFactory" name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>

    <bean id="mappingJackson2HttpMessageConverter" class="com.minis.http.converter.MappingJackson2HttpMessageConverter" />

    <bean id="jacksonReturnValueHandler" class="com.minis.web.method.support.JacksonReturnValueHandler" />

    <bean id="handlerMethodReturnValueHandlerComposite" class="com.minis.web.method.support.HandlerMethodReturnValueHandlerComposite" />

    <bean id="requestMappingHandlerAdapter" class="com.minis.web.RequestMappingHandlerAdapter" />
    <!-- ========= MVC 返回值与消息转换相关 Bean 配置结束 ========= -->

</beans>
